.interest-block {
    margin-bottom: 50px;

    .interest-input {
        border: 2px solid rgb(255, 255, 255);
        width: 98%;
        height: 45px;
        font-size: 20px;
        line-height: 45px;
        padding-left: 2%;

        // &:focus {
        //     outline: 2px solid rgb(0, 204, 255);
        // }
    }

    .interests {
        width: 100%;
    }

    .edit-button {
        float: right;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0);
        outline: none;
        border: none;
        color: white;
        font-size: 12pt;
        color:rgb(0, 204, 255);
    }

    .interest-input-box {
        width: 100%;
        display: none;
    }

    .clear-interests {
        padding: 5px;
        background-color: rgba(255, 255, 255, 0);
        outline: none;
        border: none;
        color: white;
        font-size: 12pt;
    }

    h2 {
        line-height: 50pt;
    }

    ul {
        width: 100%;
        overflow-y: scroll;
        height: 200px;
        color: white;
        background-color: rgb(70, 70, 70);
        border: 2px solid white;
        display: flex;
        flex-direction: column;
        
        li {
            line-height: 25pt;
            padding-left: 12px;
        }
    }

    
}

