.interest-block {
    max-width: 600px;

    input {
        border: 2px solid rgb(255, 255, 255);
        width: 588px;
        height: 45px;
        font-size: 20px;
        line-height: 45px;
        padding-left: 12px;

        &:focus {
            outline: 2px solid rgb(34, 255, 237);
        }
    }

    h2 {
        line-height: 50pt;
    }

    ul {
        width: 100%;
        overflow-y: scroll;
        height: 300px;
        color: white;
        background-color: rgb(124, 124, 124);
        border: 2px solid white;
        display: flex;
        flex-direction: column;
        
        li {
            line-height: 25pt;
            padding-left: 12px;
        }
    }
}

