$chat-container: #1f1f1f;
$background: #2c2c2c;

.chat-page-container {
    background: $background;
}

.chat-sidebar {
    display:flex;
    flex-direction: column;
    text-align: center;
    overflow-y:auto;
    max-height: 75vh;
}

.chat-container {
    background: $chat-container;
    height: 75vh;
    padding: 5px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y:auto;
}
.message {
    border-radius: 25px;
    width: fit-content;
    max-width: 50%;
    margin: 10px;
    padding: 10px;
    text-align:left;
}

.matcher {
    background:teal;
}

.user {
    margin-left: auto;
    background:tomato;
}

.chat-message-input {
    background: white;
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
}
