$primary: rgb(0, 0, 0);
$background: #454545;
$dividerColor: black;
$stripeWidth: 1200px;

/* Homepage Banner */

.homepage-banner-img {
    height: 100vh;
    position: relative;
    overflow: hidden;
  
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: brightness(75%);
    }
  }
  
  .homepage-banner-text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-55%);
      color: white;
      display: flex;
      align-items: flex-end;
      
      h1 {
        font-weight: bold;
        font-size: 36pt;
      }
  
      p {
        font-weight: 500;
        font-size: 16pt;
      }
  }
  
  .homepage-banner-img, .homepage-banner-text {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
