/* --- Navbar Variables --- */
$navbar-background: rgb(22, 22, 22);
$navbar-background-secondary: rgb(0, 153, 255);
$navbar-font: 'Lato';
$navbar-color-primary: rgb(0, 204, 255);
$navbar-color-secondary: rgb(0, 102, 255);

/* --- Navbar Container --- */
#navbar-vertical {
  background-color: $navbar-background;
  width: 90px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: $navbar-color-primary;
  transition: width 200ms ease;
  overflow: hidden;
  z-index: 99999;

  // width when hovering over navbar
  &:hover {
    width: 220px;
  }
}

/* --- Nav items container --- */
.nv-nav {
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --- Nav items --- */
.nv-item {
  width: 100%;
  transition: all 200ms ease;

  &:hover {
    background-color: $navbar-color-secondary;
  }

  svg {
    font-size: 21pt;
    width: 90px;
    margin-left: 30px;
    height: 90px;
  }

  .avatar {
    width: 45px;
    height: 45px;
    margin-left: 20px;
    vertical-align: middle;
    border-radius: 50%;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 74px;
    width: 100px;
    padding: 8px 0;
  }

  span {
    padding: 20px 25px 20px 0;
  }

  span,
  path,
  a {
    cursor: pointer;
  }
}

.nv-item:last-child {
  margin-top: auto;
}

.link-text {
  margin-left: 35px;
}

/* --- Nav item Active class --- */
.active {
  color: $navbar-color-primary;
}

/* --- Logo --- */
.nv-logo {
  background-color: $navbar-background-secondary;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 20pt;
}

/* --- Media Query for Mobile Menu --- */
@media only screen and (max-width: 820px) {
  #navbar-vertical {
    width: 100vw;
    height: 90px;
    bottom: 0;
    left: 0;
    top: unset;

    &:hover {
      width: 100vw;
    }
  }

  .nv-nav {
    flex-direction: row;
    justify-content: center;
  }

  .app-container {
    margin-left: 0;
  }

  .nv-item {
    width: auto;
    margin: 0;
    svg {
      margin: 0 15px;
    }
  }

  .link-text {
    display: none;
  }
}
