.news-grid{
    margin: 1%;
    text-align: center;
    justify-content: center;
    
    .news-header {
        padding: 5px;
        border-radius: 20px;
        margin-bottom:1%;
        background-color:rgb(53, 53, 53);
        color: #40e2b4;
    }

    .NHS-widget-container {
        max-width:600;
        height:500;
        .NHS-widget {
            height: 100%;
            width: 100%;
        }
    }

    .news-grid {
        display:flex;
    }

    @media all and (max-width: 900px) {
        .news-grid {
            flex-direction: column;
        }
    }

    @media all and (max-height: 720px) {
        .news-grid {
            flex-direction: column;
        }
    }

}