.calendar-container {
  
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    justify-content: center;
    background: rgba(225, 244, 255, 0.774);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 100px;
    box-shadow: 10px 1px 10px #00000041;
    width:95%;
}

.month-name {
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    justify-content: center;
    background: rgba(185, 215, 231, 0.774);
    color: rgb(0, 0, 0);
    border-radius: 25px;
  }

.weekdays {
    justify-content: center;
    color: #ff47a0;
    font-weight: bolder;
    text-align: center;
}

.calendar-grid {
    padding-bottom: 50px;
}

.calendar-current-day {
    border-radius: 50%;
    padding: 8px;
    height: 20px;
    width: 20px;

    background: rgb(255, 255, 255);
    border: 2px solid #666;
    color: rgb(0, 0, 0);
    text-align: center;
}

.calendar-current-month {
  color: rgb(0, 0, 0);
}

.calendar-standard {
  color: rgb(185, 185, 185);
}

.calendar-upcoming-events {
  background: rgba(174, 208, 230, 0.527);
  border: 3px solid #f1f1f1;
  text-align: center;
  border-radius: 25px;
  justify-content: center;
  overflow-y: scroll;
  max-height: 70vh;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-top: 25px;
  box-shadow: 10px 1px 10px #00000041;
}

.calendar-events-items {
  padding:10px;
}

.calendar-page {
  background: linear-gradient(rgba(122, 255, 233, 0.322), rgba(255, 200, 21, 0.226)),url('../../img/home.jpg') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
  display:flex;
  flex-direction: column;
  align-items:center;
  object-fit:contain;
}

.weekdays, .day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.5em;
    margin: 0 auto;
    padding: 0;
  }
  
li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: 0;
    font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
  }
  
  ul.weekdays {
    margin-bottom: 1em;
  }
  
  ul.weekdays li {
    height: 4vw;
  }
  
  ol.calendar-grid li {
    background-color: #252424;
    border: 1px solid #eaeaea;
    height: 12vw;
    max-height: 125px;
  }
  
  ul.weekdays abbr[title] {
    font-weight: bolder;
    text-decoration: none;
  }
  
  @media all and (max-width: 900px) {
    ul, ol {
      grid-gap: .25em;
    }
    
    ul.weekdays li {
      font-size: 0;
    }
    
    ul.weekdays > li abbr:after {
        content: attr(title);
        font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
      text-align: center;
      }
  }