@import url('https://fonts.googleapis.com/css2?family=Lato');

$primary: rgb(0, 0, 0);

.App {
  text-align: center;
  margin: 0;
  font-family: 'Lato';
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Lato';
  background-color: rgb(255, 255, 255);
}

/* Homepage Banner */

.homepage-banner-img {
  height: 100vh;
  position: relative;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.homepage-banner-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-55%);
    color: white;
    text-align: center;
    
    h1 {
      font-weight: bold;
      color: $primary;
      font-size: 36pt;
    }

    p {
      font-weight: 500;
      font-size: 16pt;
    }
}

.homepage-banner-img, .homepage-banner-text {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* Homepage Description Block*/

.content {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: rgb(247, 247, 247);
}

.content-divider {
  border-top: 5px dashed rgb(0, 0, 0);
  width: 50%;
}

.homepage-description {
  padding: 21px;
  h1 {

  }

  p {
    line-height: 24px;
  }

  ul {
    line-height: 34px;
  }
}

.homepage-user-testimonial {
  padding: 21px;
}

.user-testimonial {
  position: relative;
  border: 2px solid $primary;


  .user-testimonial-content {
    min-height: 250px;
    padding: 18px;
  }

  .user-testimonial-text {
    line-height: 22px;
    word-wrap: break-word;
  }

  .user-testimonial-name {
    border-top: 2px solid $primary;
    padding: 6px;
  }

  .user-image {
    height: 75px;
    width: 75px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%) translateY(-50%);
    border: 4px solid $primary;
  }

  h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 22px;
  }

}