/* --- Navbar Variables --- */
$navbar-background: rgb(22, 22, 22);
$navbar-background-secondary: rgb(52, 82, 82);
$navbar-font: 'Lato';
$navbar-color-primary: rgb(0, 204, 255);
$navbar-color-secondary: rgb(1, 136, 125);

/* --- Navbar Container --- */
#navbar-vertical {
    background-color: $navbar-background;
    width: 90px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: $navbar-color-primary;
    transition: width 200ms ease;
    overflow: hidden;
    z-index: 99999;

    // width when hovering over navbar
    &:hover {
        width: 200px;
    }
}

/* --- Nav items container --- */
.nv-nav {
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- Nav items --- */
.nv-item {
    width: 100%;
    transition: all 200ms ease;

    &:hover {
        background-color: $navbar-color-secondary;
    }
    
    svg {
        font-size: 21pt;
        width: 90px;
        margin-left: 30px;
        height: 90px;
        
    }
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        height: 74px;
        margin: 8px 0;
    }

    span, path, a {
        cursor: pointer;
    }
}

.nv-item:last-child {
    margin-top: auto;
}

.link-text {
    margin-left: 35px;
}

/* --- Nav item Active class --- */
.active {
    color: $navbar-color-primary;
}

/* --- Logo --- */
.nv-logo {
    background-color: $navbar-background-secondary;
}
