$primary: white;
$background: rgb(248, 248, 248);
$dividerColor: black;
$stripeWidth: 1200px;
$paragraphLineHeight: 24px;

.FAQSegment-container {
    min-height: 300px;
    padding: 25px;
    position: relative;

    
    h2 {
        padding-left: 20px;
    }

    .top-layer {
        display: flex;
        align-items: center;
    }

    p {
        margin-left: 75px;
        
    }

    .FAQ-image {
        height: 55px;
        width: 55px;
    }

    .vl {
        position: absolute;
        border-left: 4px dashed rgb(255, 255, 255);
        height: 160px;

        left: 50px;
        top: 150px;
      }
}

.faqs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    
    h1 {
        color: #ed4f3a;
        padding-left: 35px;
    }

    .question-container {
        max-width: 600px;
        margin: 0 auto;
    }
}