$primary: rgb(0, 0, 0);
$dividerColor: black;
$stripeWidth: 1200px;

/* Homepage Banner */

.banner {
  background-color: rgb(29, 29, 29);
}
  
.homepage-banner-text {
  height: 100vh;
  padding-right: 25px;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../img/hp1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;

  div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }

  h1 {
    font-weight: bold;
    font-size: 42pt;
    margin-bottom: 30px;
    line-height: 74px;
  }

  span {
    margin-bottom: 2px;
    text-decoration: underline;
  }

  p {
    font-weight: 100;
    font-size: 16pt;
    margin-bottom: 60px;
  }

}
  
.homepage-banner-img, .homepage-banner-text {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
