.profile_paper {
  margin: 30px;
  height: 60vh;
}

.profile_page_img {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}






.user-details {
  display: flex;
  margin: 40px;
  min-height: 100vh;

  img {
    height: 200px;
    border-radius: 50%;
  }

  .sec1 {
    width: 25%;
  }

  .sec2 {
    width: 75%;
    padding-top: 30px;

    .upper {
      margin-bottom: 100px;
      
      h2 {
        line-height: 50px;
      }
    }
  }

  
}