.profile_paper {
  margin: 30px;
  height: 60vh;
}

.profile_page_img {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.profile {
}

.user-details {
  min-height: 100vh;

  img {
    height: 200px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .sec1 {
    background-color: rgb(34, 34, 34);
    padding: 20px;

    ul {
      list-style: none;
      line-height: 30pt;
      font-size: 12pt;

      li:first-child {
        margin: 42px 0 10px 0;
        font-size: 14pt;
      }

      li {
        position: relative;
      }
    }

    span {
      position: absolute;
      right: 15px;
      font-size: 12pt;
      line-height: 30pt;
    }

    a {
      margin-top: 90px;
    }
  }

  .sec2 {
    .upper {
      margin-top: 30px;
      margin-bottom: 80px;

      h2 {
        line-height: 50px;
      }
    }
  }
}

@media only screen and (max-width: 1045px) {
  .user-details {
    display: block;

    .sec1 {
      width: 100%;
    }
  }
}
