$primary: white;
$background: rgb(248, 248, 248);
$dividerColor: black;
$stripeWidth: 1200px;


/* Homepage Description Block*/

.homepage-description {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    
    h1 {
      color: #40e2b4;
    }


    p {
      line-height: 24px;
    }
  
    ul {
      line-height: 50px;
      margin-left: 0;
      padding-left: 21px;
      li {
        padding-left: 12px;
      }
    }
  }
  
  .homepage-user-testimonial {
    padding-right: 32px;
    padding-top: 32px;
    height: 100%;
  }
  
  @media only screen and (max-width: 900px) {
    .homepage-user-testimonial {
      display: none;
    }
  
  }
  
  .user-testimonial {
    position: relative;
    border: 2px solid $primary;
    height: 100%;
  
    .user-testimonial-content {
      padding: 18px;
    }
  
    .user-testimonial-text {
      line-height: 22px;
      word-wrap: break-word;
    }
  
    .user-testimonial-name {
      border-top: 2px solid $primary;
      padding: 6px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  
    .user-image {
      height: 80px;
      width: 80px;
      position: absolute;
      right: 12px;
      top: 12px;
      transform: translateX(50%) translateY(-50%);
      border: 2px solid $primary;
    }
  
    h2 {
      text-align: center;
      margin-top: 5px;
      margin-bottom: 22px;
    }
  
  }