footer {
    background-color: rgb(29, 29, 29);
}

.inner-footer {
    height: 200px;
    max-width: 1200px;
    color: white;
    padding: 12px;
    margin: 0 auto;
    max-width: $stripeWidth;

    span {
        font-weight: 600;
        letter-spacing: 1px;
    }
}

.footer-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 18px;

    h1 {
        width: 300px;
        text-align: center;
    }
    

    span {
        width: 240px;
        padding-left: 30px;
    }
}

.footer-bottom {
    display: flex;

    .footer-brand {
        width: 300px;
    }

    .footer-section {
        width: 240px;
        padding-left: 30px;
    }

    p {
        line-height: 28px;
    }
}

.copyright {
    width: 100%;
    height: 50px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5)
}