footer {
    height: 120px;
    background-color: rgb(29, 29, 29);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    color: white;
}

.footerLeft {
    flex: 0.33;
    display: flex;
}

.footerCenter {
    flex: 0.33;
    display: flex;
}

.footerRight {
    flex: 0.33;
    display: flex;
    align-items: flex-end;
}