$primary: rgb(0, 0, 0);
$background: rgb(248, 248, 248);
$dividerColor: black;
$stripeWidth: 1200px;

.quote {
    padding: 0;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30pt;
    background-color: rgb(29, 29, 29);

    span {
        font-style: italic;
        font-weight: 700;
    }
}

@media only screen and (max-width: 900px) {
    .quote {
        font-size: 20pt;
    }
}